.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

.about-container h1 {
    margin-left: 14%;
    letter-spacing: 2px;
    align-self: flex-start;
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}
.content-container {
    padding: 45px;
    border-left: #bc690d 2px solid;
}
.content-container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #0d4c82;
    margin-bottom: 20px;
}

.content-container p {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 20px;
}

.info-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 45px;
    margin-bottom: 20px;
    border-left: #bc690d 2px solid;
}
.info-table-container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #0d4c82;
    margin-bottom: 20px;
}
.info-table-container p {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 20px;
    font-style: oblique;
}
.info-table-container .info-table {
    width: fit-content;
    border-collapse: collapse;
}

@media (max-width: 768px) {
    .about-container h1 {
        margin-left: 0;
        font-size: 2rem;
    }
    .info-container {
        flex-direction: column;
        align-items: center;
    }
}